.catalog__panel {
    border-bottom: 1px solid $grey;
    border-top: 1px solid $grey;
    background-color: $white;
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 10;

    @media (max-width: 1024px) {
        top: 14rem;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3rem 0;

        button {
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;

            &:hover,
            &:active {
                color: grey;
            }
        }
    }
}