.product {
    &__params {
        position: relative;
        width: 100%;
        background-color: $white;
        font-size: 1.4rem;
        border-bottom: 1px solid $grey;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 10;

        @media (max-width: 1024px) {
            top: 14rem;
            border-top: 1px solid $grey;
        }

        .container {
            padding: 2rem 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .product-param {
                transition: all 0.3s ease-in-out;

                .spin-plus {
                    display: inline-block;
                    width: 2rem;
                    height: 2rem;
                    text-align: center;
                    line-height: 1.2;
                    transition: all 0.3s ease-in-out;
                }

                &:hover {
                    transform: scale(1.2);
                }

                &:hover .spin-plus {
                    transform: rotate(90deg);
                }
            }
        }

        &-favorite {
            width: 2rem;
            height: 2rem;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: grey;
            }

            &.checked {
                color: red;

                &:hover {
                    color: grey;
                }
            }
        }

        &-buy {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4rem;
        }

        &-price {
            font-family: "Futura LT Pro Heavy";
        }

        &-add {
            text-transform: uppercase;
            padding: 0.8rem 2rem;
            background-color: $black;
            border: 1px solid $black;
            color: $white;
            transition: all 0.3s ease-in-out;

            &:disabled {
                background-color: transparent;
                color: $black;
                cursor: auto;
            }

            &:hover {
                background-color: transparent;
                color: $black;
            }
        }

        .marquee {
            position: relative;
            width: 12vw;
            left: 50%;
            transform: translate(-50%, 0);
            display: flex;
            overflow: hidden;
            user-select: none;
            gap: 1rem;
        
            &__line {
                flex-shrink: 0;
                display: flex;
                gap: 1rem;
                justify-content: space-around;
                min-width: 100%;
                animation: marquee 8s linear infinite;
        
                &-text {
                    flex: 0 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.8rem;
                    font-weight: 500;
                    line-height: 120%;
                    transition: all 0.1s ease-in-out;
                }
            }
        }

        &.mobile {
            .container {
                flex-direction: column;
                width: 100%;
                gap: 1.5rem;
                font-size: 2rem;
            }

            .product__params {
                &-info {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;

                    &-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 2rem;
                    }
                }

                &-title {
                    font-size: 2rem;
                }

                &-favorite {
                    width: 2.5rem;
                    height: 2.5rem;
                }

                &-settings {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    border: 1px solid $grey;

                    .product-param {
                        text-align: center;

                        &:hover,
                        &:active {
                            transform: none;
                        }
                    }
                }

                &-add {
                    width: 100%;
                }
            }
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50);
    }
    100% {
        transform: translateX(calc(-100% - 1rem));
    }
}