.product {
    &__recommendations {
        padding: 5rem 0;

        &-title {
            text-transform: uppercase;
            font-size: 1.4rem;
            letter-spacing: 0.3rem;
            margin-bottom: 4rem;

            @media (max-width: $md-breakpoint) {
                text-align: center;
            }
        }

        .catalog__card-favorite {
            display: none;
        }

        .catalog__card {
            margin: 0 auto;
        }

        .catalog__card,
        .catalog__card-img {
            width: fit-content;
        }
    }
}